@keyframes bounce {
  0% {
    background-position: left 3px top 9px;
  }
  3% {
    background-position: left 3px top;
  }
  6% {
    background-position: left 3px top 9px;
  }
  9% {
    background-position: left 3px top 3px;
  }
  12% {
    background-position: left 3px top 9px;
  }
  15% {
    background-position: left 3px top 6px;
  }
  18% {
    background-position: left 3px top 6px;
  }
  100% {
    background-position: left 3px top 6px;
  }
}

@keyframes bounce-right {
  0% {
    background-position: right 3px top 15px;
  }
  3% {
    background-position: right 3px top;
  }
  6% {
    background-position: right 3px top 15px;
  }
  9% {
    background-position: right 3px top 5px;
  }
  12% {
    background-position: right 3px top 15px;
  }
  15% {
    background-position: right 3px top 10px;
  }
  18% {
    background-position: right 3px top 10px;
  }
  100% {
    background-position: right 3px top 10px;
  }
}

@keyframes jump {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes animation-background {
  0% {
    background-position-y: center;
  }

  50% {
    background-position-y: 10px;
  }

  100% {
    background-position-y: center;
  }
}

