.button {
  position: relative;
  display: inline-block;
  @include padding-vertical(22px, 20px);
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: $black;
  background: #FDFDFD;
  box-shadow: 16px 24px 24px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  @include focus-opacity;
  @include transition;
  @include before {
    @include center-transform-vertical;
    right: 60px;
    z-index: 100;
    width: 18px;
    height: 18px;
    border: 9px solid transparent;
    border-left: 9px solid black;
  }
}

//Tablet
@include tablet {
  .button {
    @include padding-vertical(12px);
    font-size: 12px;
    line-height: 120%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.08);
    @include before-clean {
      right: 5px;
      width: 14px;
      height: 14px;
      border: 7px solid transparent;
      border-left: 7px solid black;
    }
  }
}
