.container {
  width: 100%;
  max-width: $desktop-width;
  @include center-margin;
  overflow: hidden;

  &-left,
  &-right {
    max-width: 1785px;
  }

  &-left {
    margin-left: $desktop-padding;
  }

  &-right {
    margin-right: $desktop-padding;
  }
}

//Tablet
@include tablet {
  .container {
    &-left {
      width: $tablet-width;
      @include center-margin;
      padding-right: $tablet-padding;
      padding-left: $tablet-padding * 3;
    }
  }
}

//Mobile
@include mobile {
  .container {
    &-left {
      width: 100%;
      @include padding-mobile;
    }
  }

  .services__picture {
    padding: 15px 0 0;
  }
}
