.gradient {
  .header {
    &--closed {
      position: relative;
      z-index: 2;
      background-color: transparent;
    }
  }

  .main-gradient {
    background: radial-gradient(24.11% 128.12% at 67.21% 104.82%, rgba(26, 28, 30, 0.73) 0%, #1A1C1E 100%);
    margin-top: -97px;
  }
}

//Tablet
@include tablet {
  .gradient {
    .container {
      padding-bottom: 21px;
    }

    .main-gradient {
      margin-top: -111px;
    }
  }
}
