.slider-button {
  position: relative;
  display: inline-block;
  @include reset-button;
  width: 66px;
  height: 60px;
  background-color: #FDFDFD;
  border-radius: 4px;
  box-shadow: 16px 24px 24px rgba(0, 0, 0, 0.08);
  outline: 0;
  @include before {
    z-index: 100;
    width: 18px;
    height: 18px;
    border: 9px solid transparent;
    @include center-transform-vertical;
  }

  &--prev {
    @include before-clean {
      left: 30px;
      border-left: 9px solid black;
    }
  }

  &--next {
    margin-right: 3px;
    @include before-clean {
      right: 30px;
      border-right: 9px solid black;
    }
  }

  &--disabled {
    cursor: default;
    background-color: $grey-light;
    @include before-clean {
      opacity: 50%;
    }
  }
}


//Tablet
@include tablet {
  .slider-button {
    width: 40px;
    height: 40px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.08);
    @include before-clean {
      height: 14px;
      width: 14px;
      border: 7px solid transparent;
    }

    &--prev {
      @include before-clean {
        left: 18px;
        border-left: 7px solid black;
      }
    }

    &--next {
      margin-right: 3px;
      @include before-clean {
        right: 18px;
        border-right: 7px solid black;
      }
    }
  }
}

//Mobile
@include mobile {
  .slider-button {
    width: 34px;
    height: 34px;


    &--prev {
      @include before-clean {
        left: 15px;
      }
    }

    &--next {
      margin-right: 3px;
      @include before-clean {
        right: 15px;
      }
    }
  }
}
