.wrapper {
  width: 100%;
  max-width: 1650px + ($tablet-padding * 2);
  @include padding-tablet;
  @include center-margin;
}

.wrapper-md {
  width: 100%;
  max-width: 1370px + ($tablet-padding * 2);
  @include center-margin;
  @include padding-tablet;
}

//Tablet
@include tablet {
  .wrapper {
    width: $tablet-width;
    @include padding-tablet;
  }

  .wrapper-md {
    width: $tablet-width;
  }
}

//Mobile
@include mobile {
  .wrapper {
    width: 100%;
    @include padding-mobile;
  }

  .wrapper-md {
    width: 100%;
    @include padding-mobile;
  }
}

