.auctions {
  @include reset-list;
}

.auctions__tab {
  margin-bottom: 150px;

  &:last-child {
    margin-bottom: 0;
  }
}

//Desktop
@include desktop {
  .auctions__tab {
    margin-bottom: 100px;
  }
}


//Tablet
@include tablet {
  .auctions__tab {
    margin-bottom: 50px;
  }
}

//Mobile
@include mobile {
  .auctions__tab {
    margin-bottom: 25px;
  }
}
