.main {
  position: relative;
  z-index: 1;
}

.main__services {
  position: relative;
  @include after {
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 108px;
    background-color: white;
  }
}

.main__tab {
  padding-top: 103px;
  margin-top: -2px;
  background-color: white;
}


//Tablet
@include tablet {
  .main__services {
    @include after-clean {
      height: 51px;
    }
  }
}

//Mobile
@include mobile {
  .main__services {
    @include after-clean {
      display: none;
    }
  }
}
