.main-about__services {
  margin-bottom: 86px;
}

.main-about__tab {
  margin-bottom: 112px;
}


//Desktop
@include desktop {
  .main-about__services {
    margin-bottom: 35px;
  }

  .main-about__tab {
    margin-bottom: 85px;
  }
}

//Tablet
@include tablet {
  .main-about__services {
    margin-bottom: 20px;
  }

  .main-about__tab {
    margin-bottom: 30px;
  }
}

//Mobile
@include mobile {
  .main-about__services {
    margin-bottom: 25px;
  }

  .main-about__tab {
    margin-bottom: 20px;
  }
}
