.main-about__services {
  margin-bottom: 86px;
}

.main-about__tab {
  margin-bottom: 112px;
}

.main-about__slider {
  margin-bottom: 112px;
}


//Desktop
@include desktop {
  .main-about__services {
    margin-bottom: 35px;
  }

  .main-about__tab {
    margin-bottom: 85px;
  }

  .main-about__slider {
    margin-bottom: 25px;
  }
}

//Tablet
@include tablet {
  .main-about__services {
    margin-bottom: 20px;
  }

  .main-about__tab,
  .main-about__slider {
    margin-bottom: 0;
  }
}

//Mobile
@include mobile {
  .main-about__services {
    margin-bottom: 25px;
  }

  .main-about__tab {
    margin-bottom: 20px;
  }

  .main-about__slider {
    margin-bottom: 20px;
  }

  .tab__description {
    width: 100%;
  }
}
