.map {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 162px;
  width: 47.6%;
  height: 564px;
  background-color: transparent;
  background-image: url('../img/main/tab/contacts/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.map-blue {
  position: relative;
  padding-top: 156px;
  padding-bottom: 207px;
  background-image: url('../img/main/tab/buy/background.png'),
  linear-gradient(180deg, #121773 0%, #0D1038 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: 949px, cover;
  background-position: left 403px top, left top;
  @include before {
    left: 0;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 332px;
    background-color: white;
  }
}

.map__link {
  position: absolute;
  bottom: 83px;
  @include center-transform-horizon;
  z-index: 10;
  @include padding-horizon(45px, 25px);
  @include before-clean {
    right: 15px;
  }
  @include active {
    transform: scale(1) translateX(-50%);
  }
}


//Desktop
@include desktop {
  .map {
    height: 450px;
  }

  .map__link {
    font-size: 14px;
    line-height: 120%;
  }

  .map-blue {
    padding-top: 75px;
    @include before-clean {
      height: 290px;
    }
  }
}

//Tablet
@include tablet {
  .map {
    top: 0;
    right: auto;
    left: 30px;
    height: 400px;
    width: 708px;
  }

  .map-blue {
    padding-bottom: 0;
    @include before-clean {
      height: 68px;
    }
  }

  .map-container {
    position: relative;
    padding-top: 430px;
  }
}

//Mobile
@include mobile {
  .map {
    left: 0;
    right: 0;
    height: 200px;
    width: 100%;
    @include padding-mobile;
  }

  .map__link {
    width: 280px;
    bottom: 25px;
  }

  .map-blue {
    padding-top: 25px;
    padding-bottom: 25px;
    @include before-clean {
      height: 61px;
    }
  }

  .map-container {
    padding-top: 215px;
  }
}
