.personal-area {
  @include swiper;
  @include flex;
  justify-content: space-between;
  padding-top: 38px;
  text-transform: uppercase;
  background-color: #232527;

  &--calculator {
    padding-top: 45px;
  }
}

.personal-area__list {
  width: 100%;
  height: auto !important;
}

.personal-area__item {
  @include flex;
  justify-content: space-between;
  padding-left: 62px;
  background-color: #FAFAFA;
  width: 100%;
  min-height: 532px;

  &:not(.personal-area__item--active) {
    height: 0;
  }

  &--active {
    z-index: 10000;
  }

  &--calculator {
    min-height: 725px;
  }

  &--moto {
    .personal-area__select-container {
      &--year {
        &:last-of-type {
          margin-bottom: 167px !important;
        }
      }
    }
  }

  &--track {
    padding-top: 140px;
    padding-right: 55px;
  }
}

.personal-area__title {
  @include center-flex;
  @include reset-margin-text;
  width: 100%;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 40px;
  font-family: $decima-nova;
  line-height: 48px;
  text-align: center;
  color: $grey-light;
  @include before-clean {
    content: '';
    margin-right: 26px;
    width: 30px;
    height: 30px;
    background-image: url('../img/svg/user.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
  }

  &--calculator {
    @include before-clean {
      display: none;
    }
  }
}

.personal-area__pagination {
  @include flex;
  width: 86%;
  @include reset-list;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #BBBABA;

  &--calculator {
    width: 100%;
    justify-content: space-between;

    .personal-area__bullet {
      @include center-flex;
      @include before-clean {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin-right: 12px;
        background-color: $black;
        opacity: 0;
        @include transition;
      }

      &:first-of-type,
      &:first-of-type.personal-area__bullet--active,
      &:last-of-type,
      &:last-of-type.personal-area__bullet--active {
        flex-grow: 2;
        justify-content: center;
        @include padding-horizon(0);
        background-image: none;
      }

      &:first-of-type.personal-area__bullet--active,
      &:last-of-type.personal-area__bullet--active,
      &--active {
        @include center-flex;
        @include before-clean {
          width: 53px;
          height: 1px;
          opacity: 1;
        }
      }

      &--active {
        align-items: center;
      }
    }
  }
}

.personal-area__bullet {
  @include flex;
  justify-content: center;
  flex-grow: 2;
  @include padding-vertical(23px, 18px);
  background-repeat: no-repeat;
  @include transition;
  outline: 0;

  &:not(.personal-area__bullet--active) {
    cursor: pointer;
    @include color-focus();
    @include transition;
  }

  &:first-of-type {
    justify-content: flex-start;
    flex-grow: 1;
    @include padding-horizon(0, 105px);
    background-image: url('../img/svg/personal-area/entrance--gray.svg');
    background-size: 25px;
    background-position: left 67px center;

    &.personal-area__bullet--active {
      background-image: url('../img/svg/personal-area/entrance.svg');
    }
  }

  &:last-of-type {
    @include center-flex;
    justify-content: flex-start;
    flex-grow: 0;
    @include padding-horizon(12px, 60px);
    background-image: url('../img/svg/header/track.svg');
    background-size: 21px;
    background-position: left 23px center;
    animation: animation-background 1s ease 12s infinite;

    &.personal-area__bullet--active {
      background-image: url('../img/svg/personal-area/track--active.svg');
    }
  }

  &--active {
    cursor: default;
    color: $black;
    background-color: #FAFAFA;
  }
}


.personal-area__output {
  @include center-flex;
  padding-left: 43px;
  width: 14%;
  text-align: right;
  @include color-focus($grey-dark);
}

.personal-area__form,
.personal-area__inner {
  padding-top: 137px;
}

.personal-area__form {
  width: 37.5%;

  &--calculator {
    padding-top: 131px;
  }
}

.personal-area__inner {
  width: 53.8%;
  padding-right: 62px;

  &--track {
    @include flex;
    width: 56.4%;
    justify-content: space-between;
  }

  &--calculator {
    padding-top: 125px;
  }

  &--tarrifs {
    width: 57%;
    padding: 30px 43px 44px 53px;
    align-self: flex-start;
    margin-top: 97px;
    margin-right: 45px;
    background-color: $grey-lighter;
  }

  &--location {
    width: 50%;
    padding-top: 0;
  }
}

.personal-area__input {
  @include reset-input;
  width: 100%;
  @include padding-horizon(17px);
  padding-bottom: 2px;
  border-bottom: 1px solid $black;
  color: $black;
  background-color: transparent;
  @include placeholder {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: $black;
  }
  @include placeholder-focus;

  &--name {
    margin-bottom: 5px;
  }

  &--password {
    margin-bottom: 63px;
  }

  &--car {
    padding-top: 9px;
    margin-bottom: 7px;
  }

  &--cost {
    width: 48%;
  }

  &--number {
    margin-bottom: 262px;
  }
}

.personal-area__label {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
  color: #BBBABA;
  text-transform: none;
  margin-bottom: 32px;
}

.personal-area__tel {
  font-weight: bold;
  color: $grey-dark;
}

.personal-area__button-box {
  width: 39%;
  padding-top: 61px;
  margin-bottom: 7%;
}

.personal-area__button {
  @include center-flex;
  width: 100%;
  @include reset-button;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: $black;
  border: 1px solid $black;
  border-radius: 4px;
  @include transition;
  @include before-after-clean {
    @include transition;
  }
  @include hover {
    color: $dark-blue;
    transform: scale(0.99);

    &::after {
      border-left-color: $dark-blue;
    }
  }
  @include active {
    opacity: $down-opacity;
    transform: scale(0.98);
  }
  @include before-clean {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 30px;
    background-color: transparent;
    background-image: url('../img/svg/personal-area/come-in.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left top;
  }
  @include after-clean {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 30px;
    background-color: transparent;
    border: 9px solid transparent;
    border-left: 9px solid $black;
  }

  &--car {
    @include before-clean {
      background-image: url('../img/svg/services/track.svg');
      background-size: 21px;
      margin-right: 9px;
    }
  }

  &--photo {
    @include before-clean {
      background-image: url('../img/svg/personal-area/photo.svg');
      background-size: 28px;
      margin-right: 20px;
    }
  }

  &--calculator {
    padding-bottom: 17px;
    padding-top: 16px;
    @include before-clean {
      width: 34px;
      height: 34px;
      background-image: url('../img/svg/calculator.svg');
      background-size: 100%;
      margin-right: 14px;
    }
    @include after-clean {
      margin-left: 14px;
    }
  }
}

.personal-area__subtitle-main {
  @include reset-margin-text;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 40px;
  font-family: $decima-nova;
  line-height: 48px;
  color: $black;
}

.personal-area__description {
  @include reset-margin-text;
  margin-bottom: 30px;
  text-transform: none;

  &:last-of-type {
    margin-bottom: 45px;
  }
}

.personal-area__restoration {
  display: inline-block;
  text-transform: none;
  color: #0E124B;
  padding-bottom: 5px;
  border-bottom: 1px dotted #0E124B;
  @include focus-opacity;
  @include transition;
}

.personal-area__box {
  align-self: flex-start;
  width: 49%;
  text-transform: none;

  &--photo {
    width: 49.3%;
  }

  &--track {
    padding: 26px 17px;
    background-color: $grey-light;
  }
}

.personal-area__photo {
  @include reset-margin-text;
  height: 290px;
  margin-bottom: 20px;
}

.personal-area__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  @include object-fit(cover);
}

.personal-area__description-wrapper {
  @include flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: $black;
}

.personal-area__description-inner {
  width: 75%;
}

.personal-area__description-photo {
  @include reset-margin-text;

  &--door {
    font-weight: normal;
  }
}

.personal-area__price {
  width: 25%;
  @include reset-margin-text;
  text-align: right;
  color: #0F1357;
}

.personal-area__track {
  @include reset-margin-text;
  width: 33%;
}

.personal-area__track-description {
  width: 63%;
  @include reset-margin-text;
  font-weight: bold;
  color: $black;

  &--download {
    align-self: flex-start;
    width: auto;
    margin-right: auto;
    padding-left: 53px;
    font-weight: bold;
    color: #0F1357;
    background-image: url('../img/svg/personal-area/download.svg');
    background-repeat: no-repeat;
    background-position: left 18px center;
    background-size: 18px;
    cursor: pointer;
    @include focus-opacity;
    @include transition;
  }
}

.personal-area__track-box {
  @include flex;
  justify-content: space-between;

  &:not(:last-of-type) {
    margin-bottom: 64px;
  }
}

.personal-area__select-container {
  position: relative;
  width: 100%;
  color: $black;
  font-weight: 600;
  text-transform: none;

  &:not(.personal-area__select-container--currency) {
    margin-bottom: 62px;
  }

  &:last-of-type:not(.personal-area__select-container--currency) {
    margin-bottom: 74px;
  }

  &--currency {
    width: 48%;
    margin-bottom: 0;
  }
}

.personal-area__form-inner {
  @include flex;
  justify-content: space-between;
  margin-bottom: 62px;

  &--hybrid {
    margin-bottom: 357px;
  }
}

.personal-area__new-select,
.personal-area__select-item {
  @include padding-horizon(17px);
  padding-bottom: 2px;
  border-bottom: 1px solid $black;
}

.personal-area__new-select {
  position: relative;
  padding-right: 50px;
  cursor: pointer;
  @include after {
    right: 20px;
    top: 12px;
    z-index: 100;
    width: 18px;
    height: 18px;
    border: 9px solid transparent;
    border-top: 9px solid $black;
    @include transition;
  }

  &.on {
    @include after-clean {
      transform: rotate(180deg);
      top: 3px;
    }
  }
}

.personal-area__select-list {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10000;
  width: 100%;
  max-height: 197px;
  overflow-y: scroll;
  @include reset-list;
}

.personal-area__select-item {
  background-color: #FAFAFA;
  border-right: 1px solid $black;
  border-left: 1px solid $black;
  cursor: pointer;
  @include color-focus($grey-dark);
  @include transition;
}

.personal-area__table {
  padding: 40px 45px;
  width: 100%;
  font-size: 18px;
  line-height: 36px;
  text-transform: none;
  color: $black;
  border-collapse: collapse;
}

.personal-area__caption {
  padding-right: 25px;
  margin-bottom: 37px;
  text-align: right;
  font-weight: bold;
}

.personal-area__table-wrapper {
  &--thead,
  &--tfoot {
    font-weight: bold;
  }
}

.personal-area__cell {
  position: relative;
  padding: 0 0 34px 36px;

  &--foot,
  &--head {
    position: relative;
    @include after {
      bottom: 33px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
    }
  }

  &--price {
    padding-right: 75px;
  }
}


.personal-area__number-box {
  @include flex;
  justify-content: space-between;
  width: 100%;
}

.personal-area__car-list {
  @include reset-list;
  @include flex;
  justify-content: space-between;
  width: 100%;
}

.personal-area__car-item {
  @include flex;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 3.1%;
}

.personal-area__car-photo-box {
  width: 40%;
  font-weight: bold;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.personal-area__car-status-list {
  @include reset-list;
  width: 58%;
}

.personal-area__car-photo {
  height: 290px;
  margin-bottom: 7%;
}

.personal-area__car-image {
  height: 100%;
  max-height: 100%;
  width: 100%;
  @include object-fit(cover);
}

.personal-area__car-description,
.personal-area__car-price,
.personal-area__car-title,
.personal-area__car-status-description {
  @include reset-margin-text;
}

.personal-area__car-description {
  margin-bottom: 6%;
}

.personal-area__car-price {
  color: $dark-blue;
}

.personal-area__car-title {
  @include flex;
  align-items: center;
  width: 30%;
  font-weight: 600;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.05em;

  &--document {
    align-self: flex-start;
  }
}

.personal-area__car-status-item {
  @include flex;
  justify-content: space-between;
  min-height: 75px;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 3%;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.05em;
  background-color: $grey-lighter;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--main {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  &--wait {
    background-color: #D8BAFF;
  }

  &--admission {
    background-color: #BABDFF;
  }

  &--loaded {
    background-color: #BFBFBF;
  }

  &--delivered {
    background-color: #BCF7A0;
  }

  &--document {
    padding-bottom: 9%;
  }
}

.personal-area__car-status-description {
  position: relative;
  @include flex;
  align-items: center;
  width: 63.5%;

  @include before-clean {
    @include center-transform-vertical;
    z-index: 5;
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &--code {
    padding-right: 70px;
    font-size: 16px;
    color: $black;

    @include before {
      @include center-transform-vertical;
      right: 45px;
      background-image: url('../img/svg/personal-area/code.svg');
      background-position: 0 0;
    }
  }

  &--main {
    padding-right: 3%;
    padding-left: 9%;
    font-weight: bold;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    text-transform: none;
    @include before {
      left: 0;
      background-position: 0 0;
    }
  }

  &--wait {
    @include before-clean {
      background-image: url('../img/svg/personal-area/clock.svg');
    }
  }

  &--admission {
    @include before-clean {
      background-image: url('../img/svg/personal-area/admiss.svg');
    }
  }

  &--loaded {
    @include before-clean {
      background-image: url('../img/svg/personal-area/loaded.svg');
    }
  }

  &--delivered {
    @include before-clean {
      background-image: url('../img/svg/personal-area/delivered.svg');
    }
  }
}

.personal-area__car-download {
  display: block;
  width: 100%;
  color: $dark-blue;
  text-transform: none;
  padding-right: 19%;
  margin-bottom: 6.5%;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include after-clean {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 10%;
    background-image: url('../img/svg/personal-area/download.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateY(2px);
  }
}

//XXL
@include desktop-xxl {
  .personal-area__input {
    &--car {
      padding-top: 0;
    }
  }

  .personal-area__photo {
    height: 239px;
    margin-bottom: 10px;
  }

  .personal-area__description-wrapper {
    font-size: 16px;
    line-height: 140%;
  }

  .personal-area__box {
    &--track {
      font-size: 16px;
      line-height: 140%;
    }
  }

  .personal-area__track-box {
    &:not(:last-of-type) {
      margin-bottom: 57px;
    }
  }

  .personal-area__car-photo {
    height: 236px;
  }

  .personal-area__car-photo-box {
    font-size: 14px;
  }

  .personal-area__car-title {
    font-size: 12px;
  }

  .personal-area__car-status-description {
    font-size: 12px;
  }
}


//Desktop
@include desktop {
  .personal-area__pagination {
    font-size: 14px;
    line-height: 120%;
  }

  .personal-area__bullet {
    @include padding-vertical(15px);
  }

  .personal-area__output {
    padding-left: 25px;
    font-size: 14px;
    line-height: 120%;
  }

  .personal-area__item {
    padding-left: 50px;
    min-height: 450px;

    &--moto {
      .personal-area__select-container {
        &--year {
          &:last-of-type {
            margin-bottom: 133px !important;
          }
        }
      }
    }
  }

  .personal-area__title {
    font-size: 35px;
    line-height: 120%;
    @include before-clean {
      margin-right: 15px;
      width: 28px;
      height: 28px;
      background-size: 100%;
    }
  }

  .personal-area__inner,
  .personal-area__form {
    padding-top: 100px;
  }

  .personal-area__input {
    &--name {
      margin-bottom: 0;
    }

    &--password {
      margin-bottom: 50px;
    }

    &--cost,
    &--number {
      @include placeholder {
        font-size: 14px;
      }
    }

    &--number {
      margin-bottom: 210px;
    }
  }

  .personal-area__label {
    margin-bottom: 20px;
  }

  .personal-area__subtitle-main {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 120%;
  }

  .personal-area__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 150%;
  }

  .personal-area__restoration {
    font-size: 14px;
    line-height: 120%;
  }

  .personal-area__button {
    @include padding-vertical(15px,15px);
    font-size: 16px;
    line-height: 120%;
  }

  .personal-area__photo {
    height: 197px;
  }

  .personal-area__box {
    &--track {
      font-size: 14px;
      padding: 20px 10px;
    }
  }

  .personal-area__select-container {
    font-size: 14px;

    &:not(.personal-area__select-container--currency) {
      margin-bottom: 45px;
    }

    &:last-of-type:not(.personal-area__select-container--currency) {
      margin-bottom: 55px;
    }

    &--currency {
      width: 48%;
      margin-bottom: 0;
    }
  }

  .personal-area__form-inner {
    margin-bottom: 45px;

    &--hybrid {
      margin-bottom: 289px;
    }
  }

  .personal-area__inner {
    &--tarrifs {
      padding: 20px 30px 30px;
      margin-top: 100px;
      margin-right: 20px;
      margin-bottom: 45px;
    }
  }

  .personal-area__table {
    font-size: 16px;
    line-height: 140%;
  }

  .personal-area__cell {
    &--head,
    &--foot {
      @include after-clean {
        bottom: 27px;
      }
    }
  }

  .personal-area__car-photo {
    height: 195px;
  }

  .personal-area__car-photo-box {
    font-size: 12px;
  }

  .personal-area__car-title {
    font-size: 10px;
  }

  .personal-area__car-status-description {
    font-size: 10px;
    @include before-clean {
      right: 30px;
      width: 14px;
      height: 14px;
    }

    &--code {
      padding-right: 40px;
    }
  }

  .personal-area__car-download {
    @include after-clean {
      width: 14px;
      height: 14px;
    }
  }
}


//Tablet
@include tablet {
  .personal-area {
    padding-top: 20px;
  }

  .personal-area__title {
    font-size: 30px;
    margin-bottom: 20px;
    @include before-clean {
      width: 25px;
      height: 25px;
    }
  }

  .personal-area__pagination {
    font-size: 10px;
    width: 88%;

    &--calculator {
      width: 100%;
    }

    & .personal-area__bullet {
      @include before-clean {
        margin-right: 5px;
      }

      &:first-of-type.personal-area__bullet--active,
      &:last-of-type.personal-area__bullet--active,
      &--active {
        @include center-flex;
        @include before-clean {
          width: 30px;
        }
      }
    }
  }

  .personal-area__bullet {
    &:first-of-type,
    &:last-of-type {
      padding-left: 30px;
      background-size: 15px;
      background-position: left 5px center;
    }
  }

  .personal-area__output {
    width: 12%;
    font-size: 12px;
  }

  .personal-area__form,
  .personal-area__inner {
    padding-top: 50px;
  }

  .personal-area__item {
    padding-left: 30px;
    min-height: 300px;

    &--calculator {
      @include padding-tablet;
    }

    &--moto {
      .personal-area__select-container {
        &--year {
          &:last-of-type {
            margin-bottom: 30px !important;
          }
        }
      }
    }
  }

  .personal-area__input {
    @include padding-horizon(10px);
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 120%;
    @include placeholder {
      font-size: 14px;
      line-height: 120%;
    }

    &--name {
      margin-bottom: 0;
    }

    &--cost {
      font-size: 16px;
      @include placeholder {
        font-size: 16px;
      }
    }
  }

  .personal-area__label {
    font-size: 9px;
    line-height: 120%;
  }

  .personal-area__button {
    font-size: 14px;
    @include before-clean {
      width: 20px;
      height: 20px;
      margin-right: 15px;
    }
    @include after-clean {
      width: 14px;
      height: 14px;
      border: 7px solid transparent;
      border-left: 7px solid $black;
      margin-left: 15px;
    }

    &--car {
      @include before-clean {
        background-size: contain;
        margin-right: 5px;
      }
    }
  }

  .personal-area__subtitle-main {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .personal-area__description {
    margin-bottom: 10px;
    font-size: 12px;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }

  .personal-area__inner {
    width: 50%;
    padding-right: 30px;

    &--track {
      width: 55%;
      padding-right: 5px;
    }

    &--calculator {
      width: 100%;
      padding: 0;
    }

    &--tarrifs {
      width: 100%;
      margin: 0 0 25px;
      padding: 20px;
    }
  }

  .personal-area__restoration {
    padding-bottom: 3px;
    font-size: 12px;
  }

  .personal-area__form {
    width: 40%;

    &--calculator {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .personal-area__photo {
    height: 111px;
    margin-bottom: 5px;
  }

  .personal-area__description-wrapper {
    font-size: 10px;
  }

  .personal-area__price {
    width: 30%;
  }

  .personal-area__description-inner {
    width: 68%;
  }

  .personal-area__box {
    &--track {
      padding: 10px 5px;
      font-size: 13px;
      line-height: 120%;
    }
  }

  .personal-area__track {
    width: 100%;
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }

  .personal-area__track-description {
    width: 100%;

    &--download {
      padding-left: 25px;
      background-size: contain;
      background-position: left 5px center;
    }
  }

  .personal-area__form-inner {
    margin-bottom: 30px;
  }

  .personal-area__select-container {
    font-size: 16px;

    &:not(.personal-area__select-container--currency) {
      margin-bottom: 30px;
    }

    &:last-of-type:not(.personal-area__select-container--currency) {
      margin-bottom: 40px;
    }
  }
}

//Mobile
@include mobile {
  .personal-area__title {
    margin-bottom: 15px;
    @include padding-horizon(10px);
    font-size: 20px;
    @include before-clean {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }

  .personal-area__pagination {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    @include padding-horizon(10px);
    font-size: 9px;

    &--calculator {
      font-size: 14px;
    }
  }

  .personal-area__bullet {
    flex-grow: 1;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 6px;

    &:nth-child(3n+2) {
      justify-content: center;
    }

    &:nth-child(3n+3) {
      justify-content: flex-end;
    }

    &:first-of-type,
    &:last-of-type {
      flex-grow: 1;
      padding-left: 25px;
      padding-right: 5px;
    }
  }

  .personal-area__output {
    width: 100%;
    padding-left: 0;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .personal-area__item {
    align-content: flex-start;
    padding: 0 10px 25px;
    min-height: 0;
    font-size: 12px;
    @include transition;

    &--moto {
      .personal-area__select-container {
        &--year {
          &:last-of-type {
            margin-bottom: 25px !important;
          }
        }
      }
    }
  }

  .personal-area__inner,
  .personal-area__form {
    align-self: flex-start;
    width: 100%;
    padding-top: 15px;
  }

  .personal-area__inner {
    &--tarrifs {
      padding: 10px;
      margin-bottom: 0;
      overflow-x: scroll;
    }
  }

  .personal-area__input {
    font-size: 12px;
    @include placeholder {
      font-size: 12px;
    }

    &--password {
      margin-bottom: 25px;
    }

    &--cost {
      width: 100%;
      margin-bottom: 25px;
    }

    &--number {
      margin-bottom: 25px;
    }
  }

  .personal-area__label {
    margin-bottom: 10px;
  }

  .personal-area__button {
    padding: 10px;
    font-size: 12px;
  }

  .personal-area__form {
    margin-bottom: 10px;
  }

  .personal-area__subtitle-main {
    font-size: 20px;
  }

  .personal-area__description {
    font-size: 11px;

    &:last-of-type {
      margin-bottom: 5px;
    }
  }

  .personal-area__box {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &--track {
      padding-bottom: 0;
    }
  }

  .personal-area__photo {
    height: 171px;
  }

  .personal-area__track {
    width: 34%;
  }

  .personal-area__track-description {
    width: 60%;
    margin-left: auto;
  }

  .personal-area__track-box {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .personal-area__select-container {
    font-size: 12px;
    line-height: 170%;

    &:not(.personal-area__select-container--currency) {
      margin-bottom: 30px;
    }

    &:last-of-type:not(.personal-area__select-container--currency) {
      margin-bottom: 30px;
    }

    &--currency {
      width: 100%;
    }
  }

  .personal-area__new-select {
    @include after-clean {
      @include center-transform-vertical;
      width: 12px;
      height: 12px;
      border: 6px solid transparent;
      border-top: 6px solid $black;
    }

    &.on {
      @include after-clean {
        top: 0;
      }
    }
  }

  .personal-area__form-inner {
    margin-bottom: 30px;
  }

  .personal-area__table {
    font-size: 12px;
    line-height: 120%;
    overflow-x: scroll;
    letter-spacing: 0;
  }

  .personal-area__caption {
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .personal-area__cell {
    padding: 0 0 15px 0;

    &--foot,
    &--head {
      @include after-clean {
        bottom: 5px;
      }
    }
  }
}
