.personal-area-section {
  padding-top: 229px;
  margin-top: -110px;
  background: radial-gradient(24.11% 128.12% at 67.21% 104.82%, rgba(26, 28, 30, 0.73) 0%, #1A1C1E 100%);


  &--calculator {
    margin-bottom: 39px;
  }
}

.personal-area-section__container {
  position: relative;
  z-index: 10;
  max-width: 1650px + ($tablet-padding * 2);
  width: 100%;
  @include center-margin;
  @include padding-tablet;
}

.personal-area-section__personal-area {
  border: 8px solid #232527;
}

.personal-area-section__title {
  @include center-flex;
  @include reset-margin-text;
  width: 100%;
  padding-top: 43px;
  padding-bottom: 35px;
  font-weight: bold;
  font-size: 40px;
  font-family: $decima-nova;
  line-height: 48px;
  text-align: center;
  color: $grey-light;
  text-transform: uppercase;
  background-color: $black-2;
  @include before-clean {
    content: '';
    margin-right: 26px;
    width: 30px;
    height: 30px;
    background-image: url('../img/svg/user.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
  }
}


//Desktop
@include desktop {
  .personal-area-section {
    padding-top: 200px;

    &--calculator {
      margin-bottom: 0;
    }
  }

  .personal-area-section__title {
    font-size: 35px;
    line-height: 120%;
    @include before-clean {
      margin-right: 15px;
      width: 28px;
      height: 28px;
      background-size: 100%;
    }
  }
}


//Tablet
@include tablet {
  .personal-area-section__container {
    width: $tablet-width;
  }

  .personal-area-section {
    margin-top: -115px;
    padding-top: 150px;
  }

  .personal-area-section__title {
    font-size: 30px;
    @include padding-vertical(20px);
    @include before-clean {
      width: 25px;
      height: 25px;
    }
  }

}

//Mobile
@include mobile {
  .personal-area-section {
    &--calculator {
      margin-bottom: 15px;
    }
  }

  .personal-area-section__container {
    width: 100%;
    @include padding-mobile;
  }

  .personal-area-section__personal-area {
    border: 0;
  }

  .personal-area-section__title {
    @include padding-horizon(10px);
    font-size: 20px;
    @include before-clean {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
}
