.services {
  @include swiper;
}

.services__wrapper {
  position: relative;
  z-index: 2;
  @include flex;
  align-content: flex-start;
  width: 35%;
  padding-top: 137px;
}

.services__list {
  @include reset-list;
  text-transform: uppercase;
}

.services__item {
  position: relative;
  @include flex;
  justify-content: space-between;
  padding-top: 97px;
  background-repeat: no-repeat;

  &--usa {
    background-image: url('../img/main/services/background/usa.png');
    background-size: 988px;
    background-position: top 96px right 165px;
  }

  &--track {
    @include before {
      right: 0;
      top: 62px;
      width: 995.84px;
      height: 513.02px;
      background: #191E72;
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      transform: rotate(-14.21deg);
    }
  }

  &--ua {
    background-image: url('../img/main/services/background/ua.png');
    background-size: 895px;
    background-position: top 102px right 218px;
    @include after {
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      height: 108px;
      width: 100%;
      background-color: white;
    }
  }

  &--active {
    .services__link {
      opacity: 1;
      @include transition-fade;
      transition-delay: 0.3s;
    }
  }
}

.services__name {
  position: relative;
  @include reset-margin-text;
  width: 100%;
  padding-left: 69px;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  @include before {
    left: 0;
    @include center-transform-vertical;
    width: 53px;
    height: 2px;
    background-color: $grey-dark;
  }
}

.services__link {
  display: inline-block;
  opacity: 0;
  @include padding-horizon(95px, 128px);
  background-repeat: no-repeat;

  &--car {
    background-image: url('../img/svg/services/car.svg');
    background-position: left 66px center;
    background-size: 41px 28px;
  }

  &--car-ua {
    padding-left: 55px;
    padding-right: 40px;
    background-image: url('../img/svg/services/calc.svg');
    background-position: left 17px center;
    background-size: 27px 36px;
    @include before-clean {
      right: 10px;
    }
  }
}

.services__title {
  position: relative;
  @include reset-margin-text;
  margin-bottom: 26px;
  padding-right: 22px;
  color: $grey-lighter;
  font-family: $decima-nova;
  font-weight: bold;
  font-size: 80px;
  line-height: 95px;
  letter-spacing: normal;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  @include before {
    top: 8px;
    right: 0;
    z-index: -1;
    height: 87%;
    width: 36.5%;
    background-color: #191E74;
  }
}

.services__description {
  @include reset-margin-text;
  width: 100%;
  margin-bottom: 71px;
  padding-right: 90px;
}

.services__picture {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  @include reset-margin-text;

  &--car {
    padding-top: 229px;
    padding-left: 107px;
  }
}

.services__buttons {
  position: absolute;
  bottom: 71px;
  right: 134px;
}

.services__pagination {
  position: absolute;
  z-index: 10;
  top: 234px;
  right: 136px;
  padding-left: 67px;
  @include before {
    left: 0;
    z-index: 2;
    width: 53px;
    height: 1px;
    @include center-transform-vertical;
    background-color: $grey-dark;
  }
}

.services__current,
.services__total {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0;
  color: $grey-dark;
  @include before-clean {
    content: '0';
    display: inline;
  }
}

.services__current {
  margin-right: -5px;
  font-size: 25px;
}

.services__total {
  margin-left: -7px;
}
