.services {
  @include swiper;
}

.services__wrapper {
  position: relative;
  z-index: 2;
  @include flex;
  align-content: flex-start;
  width: 40%;
  padding-top: 137px;
}

.services__list {
  @include reset-list;
  text-transform: uppercase;
}

.services__item {
  position: relative;
  @include flex;
  justify-content: space-between;
  padding-top: 97px;
  background-repeat: no-repeat;
  opacity: 0;
  @include after {
    bottom: -3px;
    left: 0;
    right: 0;
    z-index: 1;
    height: 111px;
    width: 100%;
    background-color: white;
  }

  &--usa {
    background-image: url('../img/main/services/background/usa.png');
    background-size: 55%;
    background-position: top 96px right 165px;
  }

  &--track {
    @include before {
      right: 0;
      top: 178px;
      z-index: -1;
      width: 56%;
      height: 513.02px;
      background: #191E72;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      transform: rotate(-14.21deg);
    }
  }

  &--ua {
    background-image: url('../img/main/services/background/ua.png');
    background-size: 51%;
    background-position: top 102px right 218px;
  }

  &--active {
    opacity: 1;

    .services__link {
      opacity: 1;
      @include transition-fade;
      transition-delay: 0.3s;
    }
  }
}

.services__image {
  width: 100%;
}

.services__name {
  position: relative;
  @include reset-margin-text;
  width: 100%;
  padding-left: 69px;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  @include before {
    left: 0;
    @include center-transform-vertical;
    width: 53px;
    height: 2px;
    background-color: $grey-dark;
  }
}

.services__link {
  display: inline-block;
  opacity: 0;
  @include padding-horizon(95px, 128px);
  background-repeat: no-repeat;

  &--car {
    background-image: url('../img/svg/services/car.svg');
    background-position: left 66px center;
    background-size: 41px 28px;
  }

  &--track {
    background-image: url('../img/svg/services/track.svg');
    background-position: left 68px center;
    background-size: 30px;
  }

  &--car-ua {
    padding-left: 55px;
    padding-right: 40px;
    background-image: url('../img/svg/services/calc.svg');
    background-position: left 17px center;
    background-size: 27px 36px;
    @include before-clean {
      right: 10px;
    }
  }
}

.services__title {
  position: relative;
  @include reset-margin-text;
  margin-bottom: 26px;
  padding-right: 22px;
  color: $grey-lighter;
  font-family: $decima-nova;
  font-weight: bold;
  font-size: 80px;
  line-height: 95px;
  letter-spacing: normal;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  @include before {
    top: 8px;
    right: 0;
    z-index: -1;
    height: 87%;
    width: 36.5%;
    background-color: #191E74;
  }
  @media (max-width: 1635px) {
    font-size: 73px;
  }
}

.services__description {
  @include reset-margin-text;
  width: 100%;
  margin-bottom: 71px;
  padding-right: 90px;
}

.services__picture {
  position: relative;
  z-index: 2;
  @include reset-margin-text;

  &--car {
    padding-top: 229px;
    padding-right: 14%;
    width: 59%;
  }
}

.services__buttons {
  position: absolute;
  bottom: 71px;
  right: 134px;
}

.services__button {
  &--disabled {
    cursor: default;
    background-color: $grey-light;
    @include before-clean {
      opacity: 50%;
    }
  }
}

.services__pagination {
  position: absolute;
  z-index: 10;
  top: 234px;
  right: 136px;
  padding-left: 67px;
  @include before {
    left: 0;
    z-index: 2;
    width: 53px;
    height: 1px;
    @include center-transform-vertical;
    background-color: $grey-dark;
  }
}

.services__current,
.services__total {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0;
  color: $grey-dark;
  @include before-clean {
    content: '0';
    display: inline;
  }
}

.services__current {
  margin-right: -5px;
  font-size: 25px;
}

.services__total {
  margin-left: -7px;
}

.services__quantity {
  @include flex;
  width: 50.5%;
  padding-top: 229px;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.services__quantity-description {
  @include reset-margin-text;
  color: $grey;
}

.services__number {
  @include reset-margin-text;
  color: $black;
  font-size: 50px;
  letter-spacing: -2.5px;
}

.services__quantity-box {
  margin-right: 15%;

  &:nth-child(2) {
    margin-right: 13%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.services__background {
  position: relative;
  @include before {
    top: 3px;
    left: -1px;
    z-index: -1;
    width: 32px;
    height: 87%;
    background-color: #47484A;
  }

  &--first {
    margin-right: 11px;
  }
}

//Laptop
@include laptop {
  .services__title {
    font-size: 55px;
    line-height: 120%;
  }

  .services__description {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 120%;

    &--track {
      margin-bottom: 20px;
    }
  }

  .services__buttons {
    bottom: 73px;
    right: 30px;
  }

  .services__wrapper {
    padding-top: 100px;
  }

  .services__picture {
    &--car {
      padding-top: 268px;
      padding-right: 10%;
      padding-left: 33px;
    }
  }

  .services__pagination {
    top: 200px;
    right: 75px;
  }

  .services__quantity {
    padding-top: 210px;
    line-height: 40px;
  }

  .services__quantity-description {
    font-size: 14px;
  }

  .services__number {
    font-size: 36px;
  }

  .services__background {
    @include before-clean {
      top: 3px;
      left: 0;
      width: 22px;
      height: 85%;
    }
  }

  .services__quantity-box {
    margin-right: 10%;

    &:nth-child(2) {
      margin-right: 9%;
    }
  }

  .services__item {
    @include before-clean {
      width: 52%;
    }

    &--track {
      @include after-clean {
        bottom: -77px;
        z-index: 1;
        height: 185px;
      }
    }
  }
}

//Tablet
@include tablet {
  .services__item {
    padding-top: 115px;
    @include after-clean {
      height: 54px;
    }

    &--usa {
      background-position: top 96px right 30px;
    }

    &--ua {
      background-position: top 120px right 60px;
    }

    &--track {
      @include before-clean {
        right: -15px;
        top: 116px;
      }
      @include after-clean {
        height: 128px;
      }
    }
  }

  .services__wrapper {
    padding-top: 0;
  }

  .services__picture {
    &--car {
      padding-top: 103px;
    }
  }

  .services__name {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  .services__title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .services__description {
    padding-right: 0;
    font-size: 14px;
    margin-bottom: 38px;

    &--track {
      margin-bottom: 20px;
    }

    &--ua {
      margin-bottom: 17px;
    }
  }

  .services__link {
    @include padding-horizon(35px, 50px);
    background-position: left 16px center;
    background-size: 20px;

    &--car {
      background-position: left 10px center;
      background-size: 30px;
    }
  }

  .services__quantity {
    padding-top: 65px;
    line-height: 22px;
  }

  .services__pagination {
    top: 120px;
    right: 0;
  }

  .services__current {
    font-size: 18px;
  }

  .services__total {
    font-size: 13px;
  }

  .services__quantity-description {
    font-size: 8px;
  }

  .services__number {
    font-size: 27px;
  }

  .services__background {
    @include before-clean {
      top: 4px;
      left: 0;
      width: 16px;
      height: 80%;
    }

    &--first {
      margin-right: 5px;
    }
  }

  .services__quantity-box {
    margin-right: 30px;

    &:nth-child(2) {
      margin-right: 26px;
    }
  }

  .services__buttons {
    bottom: 19px;
    right: 0;
  }

  .services__button {
    box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.08);
  }
}

//Mobile
@include mobile {
  .services__wrapper {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 25px;
  }

  .services__name {
    font-size: 12px;
    margin-bottom: 9px;
  }

  .services__description {
    margin-bottom: 15px;
  }

  .services__item {
    padding-bottom: 0;
    @include after-clean {
      display: none;
    }

    &--ua {
      background-position: bottom 25px right;
      background-size: 313px;
    }

    &--usa {
      background-size: 300px;
      background-position: bottom 85px right -25px;
    }

    &--track {
      @include before-clean {
        display: none;
      }
    }
  }

  .services__picture {
    width: 100%;
    padding: 15px 0 0;

    &--car {
      padding: 0;
      margin-top: auto;
    }
  }

  .services__quantity {
    justify-content: center;
    width: 100%;
    margin-bottom: auto;
    padding-top: 0;
  }

  .services__quantity-box {
    margin-right: 30px;
    justify-content: center;

    &:nth-child(2) {
      margin-right: 30px;
    }
  }

  .services__quantity-description {
    font-size: 7px;
    letter-spacing: 0;
  }

  .services__buttons {
    display: none;
  }

  .services__pagination {
    position: static;
    @include flex;
    justify-content: center;
    padding-left: 0;
    @include padding-vertical(15px);
    @include before-clean {
      display: none;
    }
  }

  .services__bullet {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-color: transparent;
    border: 2px solid $grey-light;
    border-radius: 50%;

    &--active {
      position: relative;
      @include before {
        @include center-transform;
        z-index: 10;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $grey-light;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
