.tab {
  @include swiper;
  @include reset-list;
}

.tab__list {
  height: auto !important;
}

.tab__page {
  position: absolute;
  display: inline-block;
  right: 76px;
  top: 14px;
  z-index: 10;
  @include reset-margin-text;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  color: #FAFAFA;
  @include before {
    @include center-transform-vertical;
    left: -70px;
    width: 53px;
    height: 1px;
    background-color: #FAFAFA;
  }

  &--iaai {
    right: auto;
    left: 148px;
  }

  &--delivery {
    color: $black;
    @include before-clean {
      background-color: $black;
    }
  }
}

.tab__page-current {
  font-size: 16px;
}

.tab__pagination {
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 100;
  @include flex;
  justify-content: space-between;
  width: 49.9%;
  padding-left: 80px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase;

  &--blue {
    top: 0;
    left: 0;
    justify-content: flex-start;
    width: auto;
    padding-left: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: $grey-dark;

    .tab__bullet {
      margin-right: 92px;

      &--active {
        color: $grey-light;
        @include before-clean {
          background-color: $grey-light;
        }
      }
    }
  }

  &--info {
    .tab__bullet {
      &:last-of-type {
        display: none;
      }
    }
  }

  &--contacts {
    .tab__bullet {
      margin-right: 130px;
    }
  }

  &--iaai {
    right: auto;
    left: 0;
    padding-left: 0;
    padding-right: 80px;
  }
}

.tab__bullet {
  outline: 0;
  @include focus-opacity;
  @include transition;
  cursor: pointer;
  @include before {
    width: 0;
    opacity: 0;
    @include transition;
  }

  &--active {
    @include hover {
      opacity: 1;
    }
    @include active {
      opacity: 1;
    }
    position: relative;
    display: inline-block;
    padding-left: 75px;
    color: $black;
    cursor: default;
    @include before-clean {
      left: 0;
      z-index: 10;
      @include center-transform-vertical;
      width: 53px;
      height: 1px;
      background-color: $black;
      opacity: 1;
    }
  }
}

.tab__subtitle {
  @include reset-margin-text;
  margin-bottom: 41px;
  color: $black;

  &--blue {
    color: $grey-light;
  }
}

.tab__description {
  @include reset-margin-text;
  width: 84%;
  font-weight: 600;

  &:last-child {
    margin-bottom: 0;
  }

  &--blue {
    width: 87%;
    padding-bottom: 0;
    margin-bottom: 94px;
    color: $grey-lighter-2;
  }

  &--contacts {
    margin-bottom: 0;
  }

  &--story,
  &--purchase,
  &--delivery {
    width: 100%;
  }

  &--selection,
  &--purchase {
    margin-bottom: 29px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--copart {
    width: 97%;
  }

  &--info {
    margin-bottom: 62px;

    &:last-of-type {
      margin-bottom: 62px;
    }
  }

  &--port {
    margin-bottom: 29px;

    &:last-of-type {
      margin-bottom: 32px;
    }
  }
}

.tab__item {
  @include flex;
  align-self: flex-start;
  padding-bottom: 50px;
  height: 1px;
  width: 0;

  &--blue {
    padding-bottom: 0;
  }

  &--active {
    z-index: 100;
    height: auto;
    width: auto;
  }
}

.tab__photo {
  position: relative;
  width: 50.1%;
  height: 518px;
  @include reset-margin-text;

  &--blue {
    position: absolute;
    right: 0;
    top: 0;
    width: 51.2%;
    height: 564px;
  }

  &--iaai {
    order: 2;
  }

  &--auctions {
    position: relative;
    @include hover {
      .tab__link {
        &--auctions {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.tab__wrapper {
  @include flex-column;
  width: 49.9%;
  padding-top: 141px;
  padding-left: 80px;

  &--blue {
    align-self: flex-start;
    width: 48.8%;
    padding-left: 0;
    padding-top: 120px;
    padding-right: 145px;
    padding-bottom: 34px;
  }

  &--contacts {
    padding-bottom: 0;
  }

  &--selection {
    padding-bottom: 83px;
    padding-top: 126px;
    padding-right: 70px;
  }

  &--iaai {
    padding-left: 0;
    padding-right: 80px;
  }

  &--port {
    padding-top: 98px;
  }
}

.tab__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  @include object-fit(cover);
}

.tab__link {
  align-self: flex-start;
  @include padding-horizon(77px, 42px);
  margin-right: 116px;
  @include before-clean {
    right: 31px;
  }

  &--info {
    padding-left: 12.5%;
    padding-right: 11.3%;
    margin-right: 20px;
    background-position: left 16% center;
    background-repeat: no-repeat;
    background-size: 34px;
    @include before-clean {
      right: 50px;
    }
  }

  &--viber {
    background-image: url('../img/svg/viber.svg');
  }

  &--whatsup {
    background-image: url('../img/svg/whatsup.svg');
  }

  &--box,
  &--ship {
    padding-right: 5%;
    background-size: 40px;
    @include before-clean {
      right: 7px;
    }
  }

  &--box {
    padding-left: 9.3%;
    background-image: url('../img/svg/box.svg');
    background-position: left 22px center;
  }

  &--ship {
    padding-left: 11%;
    padding-right: 5%;
    background-image: url('../img/svg/ship.svg');
    background-position: left 31px center;
  }

  &:last-child {
    margin-right: 0;
  }

  &--auctions {
    position: absolute;
    z-index: 100;
    width: 390px;
    @include center-transform;
    margin: 0;
    padding-right: 50px;
    visibility: hidden;
    opacity: 0;
    @include transition-fade;
    @include before-clean {
      right: 20px;
    }
  }
}

.tab__link-shadow {
  padding-bottom: 50px;
}

.tab__button-box {
  @include flex;
  margin-top: auto;
}

.tab__button-description {
  @include reset-margin-text;
  @include center-flex;
  margin-left: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: $black;
}

.tab__inner {
  @include flex;
}

.tab__button {
  height: 70px;
  width: 77px;
  @include transition;
  @include before-clean {
    border: 9px solid transparent;
  }
  @include active {
    transform: scale(0.95);
  }
  @include hover {
    color: $dark-blue;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
    @include before-clean {
      border-left-color: $dark-blue;
    }
  }

  &--prev {
    margin-right: 7px;
    @include before-clean {
      right: 34px;
      left: auto;
      border-right: 9px solid black;
    }
    @include hover {
      @include before-clean {
        border-left-color: transparent;
        border-right-color: $dark-blue;
      }
    }
  }

  &--next {
    @include before-clean {
      left: 34px;
      border-left: 9px solid black;
    }
    @include hover {
      @include before-clean {
        border-right-color: transparent;
        border-left-color: $dark-blue;
      }
    }
  }

  &--disabled {
    cursor: default;
    background-color: $grey-light;
    @include before-clean {
      opacity: 50%;
    }
    @include active {
      transform: scale(1);
    }
    @include hover {
      box-shadow: 16px 24px 24px rgba(0, 0, 0, 0.08);

      &.tab__button--next {
        @include before-clean {
          border-left-color: black;
        }
      }

      &.tab__button--prev {
        @include before-clean {
          border-right-color: black;
        }
      }
    }
  }
}

.tab__contacts-list {
  @include reset-list;
  text-transform: uppercase;
}

.tab__contacts-item {
  @include flex;
  margin-bottom: 34px;

  &:last-child {
    margin-bottom: 0;
  }
}

.tab__contacts-icon {
  fill: $grey--darker;
}

.tab__contacts-icon-box {
  @include flex;
  justify-content: center;
  width: 28px;
  margin-right: 38px;
}

.tab__slide-buttons {
  position: absolute;
  z-index: 100;
  bottom: 76px;
  left: 0;
}

.tab__contacts {
  padding-bottom: 206px;
}

.tab__contacts-link {
  @include color-focus();
  @include transition;
}

.tab__selection {
  padding-bottom: 117px;
}

.tab__link-phone {
  @include focus-opacity;
}


//XXL
@include desktop-xxl {
  .tab__pagination {
    font-size: 14px;
    line-height: 120%;
  }

  .tab__bullet {
    &--active {
      padding-left: 50px;
      @include before-clean {
        width: 40px;
      }
    }
  }

  .tab__wrapper {
    padding-top: 80px;
  }

  .tab__page {
    right: 50px;
  }

  .tab__description {
    font-size: 20px;
    line-height: 120%;
  }

  .tab__link {
    &--info {
      @include padding-horizon(50px);
      background-position: left 10px center;
      background-size: 25px;
      @include before-clean {
        right: 15px;
      }
    }

    &--ship,
    &--box {
      @include padding-horizon(25px, 40px);
      margin-right: 5px;
      @include before-clean {
        right: 0;
      }
    }
  }
}


//Desktop
@include desktop {
  .tab__pagination {
    top: 0;
    padding-left: 40px;
    font-size: 13px;
  }

  .tab__bullet {
    &--active {
      padding-left: 40px;
      @include before-clean {
        width: 30px;
      }
    }
  }

  .tab__wrapper {
    padding-top: 55px;
    padding-left: 40px;

    &--blue {
      padding-right: 40px;
    }
  }

  .tab__description {
    font-size: 18px;
    line-height: 120%;

    &--blue {
      margin-bottom: 50px;
    }

    &--contacts {
      margin-bottom: 0;
    }

    &--selection,
    &--purchase {
      margin-bottom: 25px;
    }
  }

  .tab__photo {
    height: 450px;
  }

  .tab__link {
    margin-right: 65px;

    &--info {
      padding: 10px 36px;
      margin-right: 5px;
      @include before-clean {
        right: 5px;
      }
      background-size: 20px;
      background-position: left 10px center;
    }

    &--box,
    &--ship {
      font-size: 12px;
      line-height: 120%;
      @include before-clean {
        width: 12px;
        height: 12px;
        border: 6px solid transparent;
        border-left: 6px solid $black;
      }
    }
  }

  .tab__contacts {
    padding-bottom: 155px;
  }

  .tab__slide-buttons {
    bottom: 35px;

    &--selection {
      bottom: 0;
      left: 40px;
    }
  }

  .tab__contacts-list {
    font-size: 17px;
    line-height: 120%;
  }

  .tab__contacts-link {
    display: flex;
    align-items: center;
  }

  .tab__contacts-icon-box {
    margin-right: 25px;
  }

  .tab__page {
    right: 60px;
    font-size: 14px;
    line-height: 120%;
  }

  .tab__page-current {
    font-size: 10px;
    line-height: 120%;
  }

  .tab__subtitle {
    margin-bottom: 20px;
  }

  .tab__selection {
    padding-bottom: 40px;
  }
}

//Tablet
@include tablet {
  .tab {
    &--selection {
      margin-bottom: 0;
    }
  }

  .tab__photo {
    width: 100%;
    height: 400px;
    margin-bottom: 70px;

    &--blue {
      position: static;
      order: -1;
    }

    &--iaai {
      order: -1;
      @include flex;
    }
  }

  .tab__wrapper {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 25px;
  }

  .tab__page {
    right: 15px;
    top: 10px;
    font-size: 14px;
    line-height: 120%;

    &--iaai {
      left: auto;
      right: 15px;
    }
  }

  .tab__page-current {
    font-size: 9px;
    line-height: 120%;
  }

  .tab__pagination {
    top: 429px;
    width: 100%;
    padding-left: 0;
    font-size: 15px;

    &--blue {
      justify-content: space-between;

      .tab__bullet {
        margin-right: 0;
      }
    }

    &--contacts {
      top: 0;
    }
  }

  .tab__subtitle {
    margin-bottom: 20px;
  }

  .tab__description {
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 18px;

    &--info {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 30px;
      }
    }
  }

  .tab__link {
    margin-right: 75px;
    @include padding-horizon(35px, 15px);

    &--info {
      @include padding-horizon(40px);
      @include before-clean {
        right: 15px;
      }
    }

    &--auctions {
      width: 280px;
    }
  }

  .tab__button-description {
    margin-left: 10px;
    font-size: 14px;
    line-height: 120%;

    &--contacts {
      margin-bottom: 0;
    }
  }

  .tab__item {
    padding-bottom: 0;
  }

  .tab__link-shadow {
    padding-bottom: 25px;
  }

  .tab__button {
    @include before-clean {
      border: 7px solid transparent;
    }

    &--prev {
      @include before-clean {
        left: auto;
        right: 18px;
        border-right: 7px solid black;
      }
    }

    &--next {
      margin-right: 3px;
      @include before-clean {
        left: 18px;
        border-left: 7px solid black;
      }
    }
  }

  .tab__list {
    &--contacts {
      padding-top: 40px;
    }
  }

  .tab__contacts-list {
    font-size: 20px;
  }

  .tab__contacts-item {
    margin-bottom: 20px;
  }

  .tab__contacts {
    padding-bottom: 90px;
  }

  .tab__selection {
    padding-bottom: 65px;

    &--info {
      padding-bottom: 0;
    }
  }

  .tab__slide-buttons {
    &--selection {
      left: 0;
      bottom: 11px;
    }
  }
}


//Mobile
@include mobile {
  .tab {
    @include flex;
    padding-top: 0;

    &--info {
      margin-bottom: 25px;
    }
  }

  .tab__photo {
    height: 170px;
    margin-bottom: 15px;
  }

  .tab__subtitle {
    margin-bottom: 10px;

    &--contacts {
      margin-bottom: 15px;
    }
  }

  .tab__description {
    margin-bottom: 25px;
    font-size: 14px;

    &--selection,
    &--purchase {
      margin-bottom: 15px;
    }
  }

  .tab__button-box {
    justify-content: space-between;
    padding-bottom: 25px;
  }

  .tab__link {
    margin-right: 0;
    @include padding-horizon(30px, 10px);
    font-size: 12px;
    line-height: 120%;

    &--info {
      width: 100%;
      margin-bottom: 15px;
      padding: 15px 55px;
      font-size: 16px;
      text-align: center;
      background-size: 25px;
      background-position: left 25px center;
      @include before-clean {
        right: 35px;
      }
    }

    &--auctions {
      width: 250px;
    }

    &--ship,
    &--box {
      padding: 15px 38px;
      background-position: left 10px center;
      @include before-clean {
        right: 10px;
      }
    }
  }

  .tab__button-description {
    font-size: 12px;
  }

  .tab__pagination {
    position: static;
    order: -1;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 28px;

    &--contacts {
      order: -1;
    }
  }

  .tab__box {
    @include flex;
    width: 100%;
  }

  .tab__bullet {
    width: 100%;

    &--active {
      padding-left: 30px;
      @include before-clean {
        width: 25px;
      }
    }
  }

  .tab__contacts-list {
    padding-top: 0;
    margin-bottom: 0;
    font-size: 13px;
  }

  .tab__list {
    &--contacts {
      padding-top: 0;
    }
  }

  .tab__item {
    &--contacts {
      padding-bottom: 0;
    }
  }

  .tab__contacts {
    @include flex;
    width: 100%;
    padding-bottom: 60px;
  }

  .tab__slide-buttons {
    bottom: 7px;
  }

  .tab__contacts-link {
    width: 77%;
  }

  .tab__contacts-icon-box {
    width: 15px;
    margin-right: 15px;
  }

  .tab__contacts-item {
    margin-bottom: 10px;
  }

  .tab__wrapper {
    padding-bottom: 0;
    padding-right: 0;
  }

  .tab__button {
    &--next {
      @include before-clean {
        left: 14px;
      }
    }

    &--prev {
      @include before-clean {
        left: 5px;
      }
    }
  }

  .tab__selection {
    &--info {
      padding-bottom: 0;
    }
  }
}
