.tab {
  @include swiper;
  @include reset-list;
}

.tab__page {
  position: absolute;
  right: 74px;
  top: 14px;
  z-index: 10;
  @include reset-margin-text;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  color: #FAFAFA;
}

.tab__page-current {
  font-size: 16px;
}

.tab__pagination {
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 100;
  @include flex;
  justify-content: space-between;
  width: 49.9%;
  padding-left: 80px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase;

  &--blue {
    top: 0;
    left: 0;
    justify-content: flex-start;
    width: auto;
    padding-left: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: $grey-dark;

    .tab__bullet {
      margin-right: 92px;

      &--active {
        color: $grey-light;
        @include before-clean {
          background-color: $grey-light;
        }
      }
    }
  }
}

.tab__bullet {
  outline: 0;
  @include transition;
  cursor: pointer;
  @include before {
    width: 0;
    opacity: 0;
    @include transition;
  }

  &--active {
    position: relative;
    display: inline-block;
    padding-left: 75px;
    color: $black;
    cursor: default;
    @include before-clean {
      left: 0;
      z-index: 10;
      @include center-transform-vertical;
      width: 53px;
      height: 1px;
      background-color: $black;
      opacity: 1;
    }
  }
}

.tab__subtitle {
  @include reset-margin-text;
  margin-bottom: 41px;
  color: $black;

  &--blue {
    color: $grey-light;
  }
}

.tab__description {
  @include reset-margin-text;
  padding-bottom: 45px;
  font-weight: 600;

  &--blue {
    padding-bottom: 0;
    margin-bottom: 94px;
    color: $grey-lighter-2;
  }
}

.tab__item {
  @include flex;
  align-self: flex-start;
  padding-bottom: 50px;

  &--blue {
    padding-bottom: 0;
  }

  &--active {
    z-index: 100;
  }
}

.tab__photo {
  position: relative;
  width: 50.1%;
  height: 518px;
  @include reset-margin-text;

  &--blue {
    width: 51.2%;
    height: 564px;
  }
}

.tab__wrapper {
  @include flex-column;
  width: 49.9%;
  padding-top: 141px;
  padding-left: 80px;

  &--blue {
    align-self: flex-start;
    width: 48.8%;
    padding-left: 0;
    padding-top: 120px;
    padding-right: 145px;
  }
}

.tab__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  @include object-fit(cover);
}

.tab__link {
  align-self: flex-start;
  @include padding-horizon(77px, 42px);
  margin-right: 131px;
  @include before-clean {
    right: 31px;
  }
}

.tab__link-shadow {
  padding-bottom: 50px;
}

.tab__button-box {
  @include flex;
  margin-top: auto;
  //padding-bottom: 50px;
}

.tab__button-description {
  @include reset-margin-text;
  @include center-flex;
  margin-left: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: $black;
}

.tab__inner {
  @include flex;
}

.tab__button {
  height: 66px;
}


//XXL
@include desktop-xxl {
  .tab__pagination {
    font-size: 14px;
    line-height: 120%;
  }

  .tab__bullet {
    &--active {
      padding-left: 50px;
      @include before-clean {
        width: 40px;
      }
    }
  }

  .tab__wrapper {
    padding-top: 80px;
  }
}


//Desktop
@include desktop {
  .tab__pagination {
    top: 0;
    padding-left: 40px;
    font-size: 13px;
  }

  .tab__bullet {
    &--active {
      padding-left: 40px;
      @include before-clean {
        width: 30px;
      }
    }
  }

  .tab__wrapper {
    padding-left: 40px;

    &--blue {
      padding-right: 40px;
    }
  }

  .tab__description {
    font-size: 20px;
    line-height: 120%;

    &--blue {
      margin-bottom: 50px;
    }
  }

  .tab__photo {
    height: 450px;
  }

  .tab__link {
    margin-right: 65px;
  }
}

//Tablet
@include tablet {
  .tab__photo {
    width: 100%;
    height: 400px;
    margin-bottom: 70px;

    &--blue {
      order: -1;
    }
  }

  .tab__wrapper {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
  }

  .tab__page {
    right: 15px;
    top: 10px;
    font-size: 14px;
    line-height: 120%;
  }

  .tab__page-current {
    font-size: 9px;
    line-height: 120%;
  }

  .tab__pagination {
    top: 429px;
    width: 100%;
    padding-left: 0;
    font-size: 15px;

    &--blue {
      justify-content: space-between;

      .tab__bullet {
        margin-right: 0;
      }
    }
  }

  .tab__subtitle {
    margin-bottom: 20px;
  }

  .tab__description {
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .tab__link {
    margin-right: 75px;
    @include padding-horizon(35px, 15px);
  }

  .tab__button-description {
    margin-left: 10px;
    font-size: 14px;
    line-height: 120%;
  }

  .tab__item {
    padding-bottom: 20px;
  }

  .tab__link-shadow {
    padding-bottom: 25px;
  }
}


//Mobile
@include mobile {
  .tab {
    @include flex;
    padding-top: 0;
  }

  .tab__photo {
    height: 170px;
    margin-bottom: 15px;
  }

  .tab__subtitle {
    margin-bottom: 10px;
  }

  .tab__description {
    margin-bottom: 25px;
    font-size: 14px;
  }

  .tab__button-box {
    justify-content: space-between;
  }

  .tab__link {
    margin-right: 0;
    @include padding-horizon(30px, 10px);
    font-size: 12px;
    line-height: 120%;
  }

  .tab__button-description {
    font-size: 12px;
  }

  .tab__pagination {
    position: static;
    order: -1;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
  }

  .tab__box {
    @include flex;
    width: 100%;
  }

  .tab__bullet {
    &--active {
      padding-left: 30px;
      @include before-clean {
        width: 25px;
      }
    }
  }
}
