// Width
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1920px;
$laptop-width: 1520px;
$mobile-max-width: 767px;
$tablet-max-width: 1199px;
$laptop-max-width: 1519px;

// Padding
$mobile-padding: 20px;
$tablet-padding: 30px;
$laptop-padding: 30px;
$desktop-padding: 135px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
