$sans-serif: 'Arial', sans-serif;
$main-font: 'Open Sans';

//Colors
$black-font: #1A1C1E;
$grey-font: #C5C5C5;
$grey-dark-font: #929292;
$grey--darker-font: #656565;
$grey-light-font: #F6F6F6;
$grey-lighter-font: #EFEFEF;
$grey-lighter-font-2: #D2D2D2;
